html, body {
	height:100%;
	margin: 0;
	padding: 0;
}
a.white-btn:hover {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);
}
a.color-btn, form.customform button.color-btn {
	background: none;
	border: 1px solid #001925;
	border-radius: 3px;
	color: #001925;
	display: block;
	font-size: 0.85em;
	padding: 0.625em 1.25em;
	transition: all 0.20s linear 0s;
	-o-transition: all 0.20s linear 0s;
	-ms-transition: all 0.20s linear 0s;
	-moz-transition: all 0.20s linear 0s;
	-webkit-transition: all 0.20s linear 0s;
}
a.color-btn:hover, form.customform button.color-btn:hover {
	border: 1px solid #92c500;
	color: #92c500;
}
#topbar i:hover {
	color: #92c500;
	cursor: pointer;
	opacity: 1;
}
nav {
	background: none repeat scroll 0 0 #00283a;
}
header {
	border-bottom: 4px solid rgba(0, 40, 58, 0.53);
	position: fixed;
	width: 100%;
	z-index: 10;
}
.logo {
	position: relative;
}
p.logo {
	color: #fff;
	font-size: 2.5vmax;
	font-weight: 300;
	text-transform: uppercase;
	float: left;
}
.top-nav {
	position: relative;
}
.top-nav li a {
	border-top: 2px solid #00283a;
	color: #fff;
	font-size: 1.6em;
	font-weight: 600;
	padding: 2.1vmin 1.5vmin 2.5vmin;
	text-transform: uppercase;
	transition: all 0.20s linear 0s;
	-o-transition: all 0.20s linear 0s;
	-ms-transition: all 0.20s linear 0s;
	-moz-transition: all 0.20s linear 0s;
	-webkit-transition: all 0.20s linear 0s;
}
.top-nav li a:hover, .top-nav li.active-item a {
	background: none repeat scroll 0 0 #00283a;
	border-top: 2px solid #92c500;
	color: #92c500;
	position: relative;
}
#carousel {
	height: 100vh;
	display: block;
	background: none repeat scroll 0 0 rgba(146, 197, 0, 1);
	font-size: 1.25vmin;
}
#carousel .text {
	position: absolute;
	width: 70%;
	top: 20%;
	z-index: 10;
}
.item {
	overflow: hidden;
	width: 100%;
}
.item img {
	min-height: 100%;
	height: 95vh;
}
.pointbox {
	line-height: 50px;
	color: #fff;
	border-radius: 4px;
	text-align: center;
	background: none repeat scroll 0 0 rgba(146, 197, 0, 0.8);
}
#carousel .text h2 {
	color: #92c500;
	display: inline-block;
    text-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.4),
    1px -1px 0 rgba(0, 0, 0, 0.4),
    -1px 1px 0 rgba(0, 0, 0, 0.4),
    1px 1px 0 rgba(0, 0, 0, 0.4);  
	font-size: 3.5em;
	font-weight: 300;
	margin-bottom: 1em;
	padding: 10px 20px;
	width: 65%;
}
#carousel .text p {
	color: #fff;
	padding: 10px 20px;
	margin: 2px 0;
	font-size: 2em;
	width: 70%;
}
#carousel .pointlist {
	padding: 10px 20px;
	width: 70%;
}
#carousel .owl-theme .owl-controls {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.37);
	bottom: 0;
	margin: 0;
	padding: 0.625em 0;
	position: relative;
	width: 100%;
}
.owl-theme .owl-controls .owl-page span {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 3px solid rgba(0, 40, 58, 0.57);
	height: 2em;
	margin: 0.3125em;
	opacity: 1;
	width: 2em;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
	background: none repeat scroll 0 0 #92c500;
}
#open-innovation {
	position: relative;
	display: block;
	height: 100vh;
	background: #6f9600 none repeat scroll 0 0;
	padding: 6em 2em;
	font-size: 1.75vmin;
}
#open-innovation h2 {
	color: #fff;
	font-size: 2em
}
#open-innovation h1 {
	color: #fff;
	margin: 0 0 0.25em;
}
#open-innovation h1.section-title:after {
	background: #fff none repeat scroll 0 0;
}
#open-innovation i {
	background: none repeat scroll 0 0 #fff;
	border-radius: 3.5em;
	color: #6f9600;
	display: block;
	float: left;
	font-size: 2em;
	height: 3.5em;
	line-height: 3.5em;
	margin-right: 0.625em;
	text-align: center;
	width: 3.5em;
}
.cite {
	color: #fff;
	float: right;
}
#open-innovation p {
	color: #fff;
	font-size: 1.1em;
}
.quote {
	text-align: center;
	margin-top: 6%;
	margin-bottom: 3%;
}
.quote em{
	font-size: 2.4em;
}
.half-tile {
	display: inline-block;
	width: 50%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.half-tile img {
	width: 100%;
}
.half-tile-right {
	display: inline-block;
	width: 50%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
}
#consultation {
	background: none repeat scroll 0 0 #00283a;
	clear: both;
	padding: 0;
	margin: 0;
	display: block;
	font-size: 1.75vmin;
	position: relative;
	height: 100vh;

}
#consultation:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
#consultation p {
	font-size: 1.6em;
}
#consultation article {
	padding: 4em;
}
#consult {
	position: relative;
}
article h2 {
	font-size: 4em;
	font-weight: 900;
	letter-spacing: -2px;
	line-height: 0.9;
	margin: 0 0 0.625em 0
}
article h1, article h2, article h3, article h4, article h5, article h6 {
	color: #fff;
}
.media-container {
  overflow: hidden;
}
.media-container img {
  display: block;
  position: absolute;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
}
article p, article li {
	color: #fff;
	font-size: 0.85em;
	opacity: 0.7;
}
h1.section-title:after {
	background: #dedede none repeat scroll 0 0;
	content: "";
	display: block;
	height: 1px;
	margin: 0.31225em auto 0;
	position: relative;
	width: 100px;
}
h1.section-title {
	color: #dedede;
	font-size: 3.8em;
	font-weight: 700;
	letter-spacing: -1px;
	margin: 0 0 0.25em;
	text-align: center;
	text-transform: uppercase;
}
#contact-form {
	margin-top: 5em;
	margin-left: 10em;
}
#contact-form i {
	background: none repeat scroll 0 0 #6f9600;
	border-radius: 80px;
	color: #fff;
	display: block;
	float: left;
	font-size: 2em;
	height: 80px;
	line-height: 80px;
	margin-right: 0.625em;
	text-align: center;
	width: 80px;	
}
#contact {
	background: none repeat scroll 0 0 #fff;
	position: relative;
	clear: both;
	z-index: 2;
	height: 90vh;
}
#contact input, #contact textarea {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-radius: 3px;
}
form.customform button.color-btn {
	height: auto;
	margin-top: 0;
}
#contact h2 {
	margin: 0 0 1.25em;
}
#contact h3 {
	color: #92c500;
	font-size: 1em;
	font-weight: 700;
	margin: 0 0 0.625em;
	text-transform: uppercase;
}
#contact p {
	font-size: 0.85em;
	font-style: normal;
	line-height: 2em;
}
#contact p strong {
	font-weight: 700;
}fff
@media screen and (max-width: 768px) {
  header {
  	position: relative;
  }
  .top-nav li a {
  	background: #05374e none repeat scroll 0 0;
  }
  #carousel .text {
  	font-size: 0.8em;
  	top: 20%;
  }
  .owl-controls.clickable {
  	display: none!important;
  }
  .right {
  	float: none;
  }
  #social {
  	height: 100%;
  }
  #consultation article {
  	padding: 4em 2.5em;
  }
}
@media screen and (max-width: 480px) {
  #topbar {
  	line-height: 1.625em;
  	text-align: center;
  }
p.nav-text {
  	text-align: center;
  }
}